<form method="post" action="{{ path('app_measures_delete', {'id': measure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ measure.id) }}">
    
    {% if is_granted('ROLE_MEASURES_DELETE') %}
        <button class="btn">Delete</button>
    {% endif %}
</form>
